body {
    background-color: rgb(48, 48, 48);
    color: rgb(239, 235, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  header {
    color: rgb(239, 235, 228);
    display: grid;
    text-align: center;
    margin-top: 20px;
  }
  .timer {
  display: grid;
  grid-auto-flow: column;
  margin-top: 20px;
}